<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content class="padding">
    <h2>Nave: {{solicitudes.name}} </h2>
    <h3>Puerto:  {{solicitudes.lastText}} </h3>
    </p>

    <ion-list>
      <ion-item>
        <!--<ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail> -->
        <h2>Servicio 1</h2>
        <p>Launch Pilot 11/04/2016 13:11</p>
        <button danger outline>
          <ion-icon name='remove-circle' is-active="false"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <!--<ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail> -->
        <h2>Servicio 2</h2>
        <p>Authorities 11/04/2016 13:11</p>
        <button danger outline>
          <ion-icon name='remove-circle' is-active="false"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <!--<ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail> -->
        <h2>Servicio 3</h2>
        <p>Pilot In/Out 11/04/2016 13:11</p>
        <button danger outline>
          <ion-icon name='remove-circle' is-active="false"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <!--<ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail> -->
        <h2>Servicio 4</h2>
        <p>Launch Pilot 11/04/2016 13:11</p>
        <button danger outline>
          <ion-icon name='remove-circle' is-active="false"></ion-icon>
        </button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
